

.topbar {
    height: 32px;
    color: #000;
    line-height: 32px;
    font-size: 13px;
    border-bottom: solid 1px #ccc;
  }
  .language { border: none; outline: none;   scroll-behavior: smooth;
    display: inline;  background:var(--dark);  color: #fff;
  }
  .form-switch {
    line-height: 26px;
}
.scheme-submenu {height: 300px; overflow-y: auto;}
.pointer {cursor: pointer;}
.pointer:hover {color: #ffc451;}
