<app-header [isMenu]="true"></app-header>

<main id="mainInner">
  <section class="p-10 mtt inner-header divider layer-overlay overlay-dark heading-img">
    <div class="container ">
      <!-- Section Content -->
      <div class="section-content text-left">
        <div class="row">
          <div class="col-md-6 col-md-offset-3 text-left">
            <ol class="breadcrumb text-center mt-10 white">
              <li><a href="/">Home</a></li>
              <li>/</li>
              <li class="font-weight-bold">Screen Reader</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="services" id="service">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="screen-reader">
            <h1>Screen Reader</h1>
            <p>Uttar Pradesh Krishi website complies with World Wide Web Consortium (W3C) Web Content Accessibility Guidelines (WCAG) 2.0 level AA. This will enable people with visual impairments access the website using assistive technologies, such as screen readers. The information of the website is accessible with different screen readers, such as SAFA, JAWS etc. Following table lists the information about different screen readers:</p>
            <table class="table"><tbody><tr><th>SCREEN READER</th>

              <th>Free/Commercial</th>
              </tr>
              <tr>
                <td><a class="MuiTypography-root MuiTypography-inherit MuiLink-root MuiLink-underlineHover mui-style-16le3ne" href="http://www.yourdolphin.co.uk/productdetail.asp?id=1" target="_blank">Supernova</a></td>
              <td>Commercial</td>

              </tr><tr><td><a class="MuiTypography-root MuiTypography-inherit MuiLink-root MuiLink-underlineHover mui-style-16le3ne" href="http://www.nvda-project.org/" target="_blank">Non Visual Desktop Access (NVDA)</a></td>
              <td>Free</td>

              </tr>
              <tr>
                <td><a class="MuiTypography-root MuiTypography-inherit MuiLink-root MuiLink-underlineHover mui-style-16le3ne" href="http://www.freedomscientific.com/jaws-hq.asp" target="_blank">JAWS</a></td>
                <td>Commercial</td>

              </tr>
              <tr>
                <td><a class="MuiTypography-root MuiTypography-inherit MuiLink-root MuiLink-underlineHover mui-style-16le3ne" href="http://www.yourdolphin.co.uk/productdetail.asp?id=5" target="_blank">Hal</a></td>
                <td>Commercial</td>
              </tr>
            </tbody></table>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>


<app-footer></app-footer>
