table {
    width: 100%;
  }
  
  .mat-header-row {
    background-color: #1b1d1f;
  }
  
  th.mat-sort-header {
    color: white;
  }
  
  :host ::ng-deep .mat-sort-header-arrow {
    color: white;
  }
  
  .count {
    line-height: 60px;
    text-align: right;
  }
  .table-theme th {background-color: var(--light-maroon); font-weight: bold !important; 
    color: var(--white); font-size: 13px;}