
<div class="container">
  <legend>Update A New User</legend>
  <div class="row">
    <div class="col-md-4">
      <div class="mb-3">
        <label for="txtFirstName" class="form-label">First Name</label>
        <input type="text" [(ngModel)]="userForm.firstName" class="form-control" id="txtFirstName" placeholder="Enter first name"/>
      </div>
    </div>
    <div class="col-md-4">
      <div class="mb-3">
        <label for="txtLastName" class="form-label">Last Name</label>
        <input type="text" [(ngModel)]="userForm.lastName" class="form-control" id="txtLastName" placeholder="Enter last name"/>
      </div>
    </div>
    <div class="col-md-4">
      <div class="mb-3">
        <label for="txtEmail" class="form-label">Email</label>
        <input type="text" [(ngModel)]="userForm.email" class="form-control" id="txtEamil" placeholder="Enter email"/>
      </div>
    </div>
    <div class="col-md-4">
      <div class="mb-3">
        <label for="txtMobile" class="form-label">Mobile No.</label>
        <input type="text" [(ngModel)]="userForm.mobileNo" class="form-control" id="txtMobile" placeholder="Enter mobile no" maxlength="10"/>
      </div>
    </div>

    <div class="col-md-4">
      <div class="mb-3">
        <label for="txtGender" class="form-label">Gender</label>
        <select [(ngModel)]="userForm.gender" id="txtGender" class="form-select">
          <option value="Male">Male</option>
          <option value="Male">Female</option>
        </select>
      </div>
    </div>
    <div class="col-md-4">
      <div class="mb-3">
        <label for="txtRole" class="form-label">Role</label>
        <select [(ngModel)]="userForm.role" id="txtRole" class="form-select">
          <option value="Admin">Admin</option>
          <option value="Team Leads">Team Leads</option>
        </select>
      </div>
    </div>
    <!-- <div class="col-md-4">
      <div class="mb-3">
        <label for="txtPassword" class="form-label">Password</label>
        <input type="password" [(ngModel)]="userForm.password" class="form-control" id="Password" placeholder="Enter password"/>
      </div>
    </div> -->
  </div>

  <button type="button" class="btn btn-dark" (click)="update()">Update</button>
</div>