
<!-- <div>
    <input type="file" (change)="onFileSelected($event)" #fileInput>
    <button (click)="uploadFile()">Upload</button>
    <p *ngIf="error" class="error">{{ error }}</p>
</div>     -->


<div class="mb-3">
    <label for="formFileSm" class="form-label">Default file input example</label>
    <input class="form-control" id="formFileMd" type="file" (change)="onFileSelected($event)" #fileInput>
    <button (click)="uploadFile()">Upload</button>
    <p *ngIf="error" class="error">{{ error }}</p>
  </div>