<!-- footer start  here -->
<footer class="footer">
  <div class="footer_top">
    <div class="container-fluid">
      <div class="row">
        <div class="useful_link">
          <h2>Useful link</h2>
          <ul>
            <li><a href="#">Natural Farming Programme, UP</a></li>
            <li><a href="#">FPO Power</a></li>
            <li><a href="#">Problem Solving System</a></li>
            <li><a href="#">Uttar Pradesh Seed Certification Institute</a></li>
            <li><a href="#">Natural Farming Programme, UP</a></li>
            <li><a href="#">FPO Power</a></li>
            <li><a href="#">Problem Solving System</a></li>
            <li><a href="#">Uttar Pradesh Seed Certification Institute</a></li>
            <li><a href="#">Natural Farming Programme, UP</a></li>
            <li><a href="#">FPO Power</a></li>
            <li><a href="#">Problem Solving System</a></li>
            <li><a href="#">Uttar Pradesh Seed Certification Institute</a></li>
            <li><a href="#">Natural Farming Programme, UP</a></li>
            <li><a href="#">FPO Power</a></li>
            <li><a href="#">Problem Solving System</a></li>
            <li><a href="#">Uttar Pradesh Seed Certification Institute</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="footer_mid">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-10">
          <div class="footer_visitor">
            <p>You are Visitor No: <span>4626936</span></p>
            <p>Last reviewed and updated on :18-07-2023</p>
          </div>
        </div>
        <div class="col-lg-2">
          <div class="footer_social">
            <h6>JOIN US</h6>
            <ul>
              <li><a href="#"><i class="facebook fab fa-facebook-f"></i></a></li>
              <li><a href="#"><i class="twitter fab fa-twitter"></i></a></li>
              <li><a href="#"><i class="linkedin fab fa-linkedin-in"></i></a></li>
              <li><a href="#"><i class="youtube fas fa-play"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer_menu">
    <div class="container-fluid">
      <div class="row">
        <div class="footer_menulist">
          <ul>
            <li><a href="">Accessibility Statemen</a></li>
            <li><a href="">Privacy Policy</a></li>
            <li><a href="">Hyper Linking Policy</a></li>
            <li><a href="">Copyright Policy</a></li>
            <li><a href="">Terms and Conditions</a></li>
            <li><a href="">Disclaimer</a></li>
            <li><a href="">Archives</a></li>
            <li><a href="">Help</a></li>
            <li><a href="">Website Policy</a></li>
            <li><a href="">Sitemap</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="footer_bottom">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 offset-md-3">
          <div class="footer_copyright">
            <p>Content on this website is published and managed by State Agriculture Directorate Uttar Pradesh Krishi
              Bhawan Lucknow.
              For any questions about this website, please contact "Web Information Manager".</p>
            <p>© State Agriculture Directorate Uttar Pradesh, India | All rights reserved.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- ======= Footer ======= -->
<!-- <footer id="footer">
    <div class="footer-top">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-3 col-md-6 footer-links">
            <h4>{{'USEFUL_LINKS' | translate}}</h4>
            <ul>
              <li>
                <i class="bx bx-chevron-right"></i>
                <a href="#">{{'NATURAL_FARMING_PROGRAMME' | translate}}</a>
              </li>
              <li>
                <i class="bx bx-chevron-right"></i>
                <a href="#">{{'FPO_POWER' | translate}}</a>
              </li>
              <li>
                <i class="bx bx-chevron-right"></i>
                <a href="#">{{'PROBLEM_SOLVING' | translate}}</a>
              </li>
              <li>
                <i class="bx bx-chevron-right"></i>
                <a href="#">{{'SEED_CIRTIFCATION_INSTITUTE' | translate}}</a>
              </li>

              <li>
                <i class="bx bx-chevron-right"></i> <a href="#">{{'HELP' | translate}}</a>
              </li>
              <li>
                <i class="bx bx-chevron-right"></i>
                <a href="#">{{'ACCESSIBILITY_STATEMENT' | translate}}</a>
              </li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4 class="d-none d-sm-block">&nbsp;</h4>
            <ul>
              <li>
                <i class="bx bx-chevron-right"></i> <a href="#">{{'ARCHIVES' | translate}}</a>
              </li>
              <li>
                <i class="bx bx-chevron-right"></i> <a href="#">{{'HYPERLINK' | translate}}</a>
              </li>
              <li>
                <i class="bx bx-chevron-right"></i> <a href="#">{{'COPYRIGHTS' | translate}}</a>
              </li>
              <li>
                <i class="bx bx-chevron-right"></i> <a href="#">{{'TERMS_CONDITIONS' | translate}}</a>
              </li>
              <li>
                <i class="bx bx-chevron-right"></i> <a href="#">{{'DISCLAIMER' | translate}}</a>
              </li>
              <li>
                <i class="bx bx-chevron-right"></i> <a href="#">{{'PRIVACY_POLICY' | translate}}</a>
              </li>

            </ul>
          </div>

          <!-- <div class="col-lg-2 col-md-6 footer-links">
            <h4>&nbsp;</h4>

            <p>You are Visitor No: <strong>4643350</strong></p>
            <p>Last reviewed and updated on :
              18-07-2023</p>
            <img src="assets/img/icons/numbercount.png" alt="number counter">
          </div> --

          <div class="col-lg-2 col-md-6 footer-newsletter">
            <h4 class="d-none d-sm-block">&nbsp;</h4>
            <p>{{'YOUR_VISITOR_NO' | translate}}: <strong>4643350</strong></p>
            <p>{{'REVIEWED_DATE' | translate}}:
              18-07-2023</p>
            <p>
              <strong>{{'FOLLOW_US' | translate}}</strong>
            </p>
            <p>
              <img src="assets/img/socialmedia1.png" />
            </p>
          </div>
          <div class="col-lg-3 ps-5 text-center">
            <p class="text-center">
              <img src="assets/img/cqw_logo1.png" class="mb-0 mt-5" />
            </p>
            <img src="assets/img/playstore1.png" />
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        <span class="me-5">
          © {{'STATE_AGRI_DIRECTORATE_UP' | translate}} | {{'ALL_RIGHTS_RESERVED' | translate}}.
        </span>
        <!-- <span class="me-5">Last reviewed and updated on 12 Jul, 2023 </span>
        <span>Email Us: delhihighcourt@nic.in | Disclaimer | Sitemap</span> --
      </div>
    </div>
  </footer>
  <!-- End Footer -->
