<!-- footer start  here -->
<footer class="footer">
  <div class="footer_top">
    <div class="container-fluid">
      <div class="row">
        <div class="useful_link">
          <h2>{{'USEFUL_LINKS'| translate}}</h2>
          <ul>
            <li><a href="http://agrilicense.upagriculture.com/pcrs/"
              target="_blank">{{'PARTICIPATORY_CROP_MONITORING'| translate}}</a></li>
            <li><a href="http://agriculture.up.gov.in/seed/"
              target="_blank">{{'SEED_MONITORING_SYSTEM'| translate}}</a></li>
            <li><a href="http://agrilicense.upagriculture.com:81/cms/"
              target="_blank">{{'PM_KISSAN'| translate}}</a></li>
            <li><a href="http://agriculture.up.gov.in/nmnf/natural_farming/nmnf"
              target="_blank">{{'NATURAL_FARMING'| translate}}</a></li>
            <li><a href="http://www.upfposhakti.com/"
              target="_blank">{{'FPO_SHAKTI'| translate}}</a></li>
            <li><a href="https://soilhealth.dac.gov.in/home"
              target="_blank">{{'SOIL_HEALTH_CARD'| translate}}</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="footer_mid">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-10">
          <div class="footer_visitor">
            <p>{{'YOUR_VISITOR_NO'| translate}}<span>4626936</span></p>
            <p>{{'REVIEWED_DATE'| translate}} : 18-07-2023</p>
          </div>
        </div>
        <div class="col-lg-2">
          <div class="footer_social">
            <h6>{{'FOLLOW_US'| translate}}</h6>
            <ul>
              <li><a href="https://www.facebook.com/upagriculturedepartment"
                target="_blank"><i class="facebook fab fa-facebook-f"></i></a></li>
              <li><a href="https://twitter.com/i/flow/login?redirect_after_login=%2Fupagriculture"
                target="_blank"><i class="twitter fab fa-twitter"></i></a></li>
              <li><a href="#"><i class="linkedin fab fa-linkedin-in"></i></a></li>
              <li><a href="https://www.youtube.com/channel/UCkRIu1yJOC0gtvUKNFsF4hWw" target="_blank"><i class="youtube fas fa-play"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer_menu">
    <div class="container-fluid">
      <div class="row">
        <div class="footer_menulist">
          <ul>
            <li><a href="http://agriculture.up.gov.in/dbt/complaint.html"
              target="_blank">{{'SUGGESSION_COMPLAINTS'| translate}}</a></li>
            <li><a href="">{{'ACCESSIBILITY_STATEMENT'| translate}}</a></li>
            <li><a href="">{{'PRIVACY_POLICY'| translate}}</a></li>
            <li><a href="">{{'HYPERLINK'| translate}}</a></li>
            <li><a href="">{{'COPYRIGHTS'| translate}}</a></li>
            <li><a href="">{{'TERMS_CONDITIONS'| translate}}</a></li>
            <li><a href="">{{'DISCLAIMER'| translate}}</a></li>
            <li><a href="">{{'ARCHIVES'| translate}}</a></li>
            <li><a href="">{{'HELP'| translate}}</a></li>
            <li><a href="">{{'website_policy'| translate}}</a></li>
            <li><a href="">{{'SITEMAP'| translate}}</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="footer_bottom">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 offset-md-3">
          <div class="footer_copyright">
            <p>{{'FOOTER_PARA1'|translate}}</p>
            <p>{{'FOOTER_PARA2'|translate}}</p>
            <p>© State Agriculture Directorate Uttar Pradesh, India | All rights reserved.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- ======= Footer ======= -->
<!-- <footer id="footer">
    <div class="footer-top">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-3 col-md-6 footer-links">
            <h4>{{'USEFUL_LINKS' | translate}}</h4>
            <ul>
              <li>
                <i class="bx bx-chevron-right"></i>
                <a href="#">{{'NATURAL_FARMING_PROGRAMME' | translate}}</a>
              </li>
              <li>
                <i class="bx bx-chevron-right"></i>
                <a href="#">{{'FPO_POWER' | translate}}</a>
              </li>
              <li>
                <i class="bx bx-chevron-right"></i>
                <a href="#">{{'PROBLEM_SOLVING' | translate}}</a>
              </li>
              <li>
                <i class="bx bx-chevron-right"></i>
                <a href="#">{{'SEED_CIRTIFCATION_INSTITUTE' | translate}}</a>
              </li>

              <li>
                <i class="bx bx-chevron-right"></i> <a href="#">{{'HELP' | translate}}</a>
              </li>
              <li>
                <i class="bx bx-chevron-right"></i>
                <a href="#">{{'ACCESSIBILITY_STATEMENT' | translate}}</a>
              </li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4 class="d-none d-sm-block">&nbsp;</h4>
            <ul>
              <li>
                <i class="bx bx-chevron-right"></i> <a href="#">{{'ARCHIVES' | translate}}</a>
              </li>
              <li>
                <i class="bx bx-chevron-right"></i> <a href="#">{{'HYPERLINK' | translate}}</a>
              </li>
              <li>
                <i class="bx bx-chevron-right"></i> <a href="#">{{'COPYRIGHTS' | translate}}</a>
              </li>
              <li>
                <i class="bx bx-chevron-right"></i> <a href="#">{{'TERMS_CONDITIONS' | translate}}</a>
              </li>
              <li>
                <i class="bx bx-chevron-right"></i> <a href="#">{{'DISCLAIMER' | translate}}</a>
              </li>
              <li>
                <i class="bx bx-chevron-right"></i> <a href="#">{{'PRIVACY_POLICY' | translate}}</a>
              </li>

            </ul>
          </div>

          <!-- <div class="col-lg-2 col-md-6 footer-links">
            <h4>&nbsp;</h4>

            <p>You are Visitor No: <strong>4643350</strong></p>
            <p>Last reviewed and updated on :
              18-07-2023</p>
            <img src="assets/img/icons/numbercount.png" alt="number counter">
          </div> --

          <div class="col-lg-2 col-md-6 footer-newsletter">
            <h4 class="d-none d-sm-block">&nbsp;</h4>
            <p>{{'YOUR_VISITOR_NO' | translate}}: <strong>4643350</strong></p>
            <p>{{'REVIEWED_DATE' | translate}}:
              18-07-2023</p>
            <p>
              <strong>{{'FOLLOW_US' | translate}}</strong>
            </p>
            <p>
              <img src="assets/img/socialmedia1.png" />
            </p>
          </div>
          <div class="col-lg-3 ps-5 text-center">
            <p class="text-center">
              <img src="assets/img/cqw_logo1.png" class="mb-0 mt-5" />
            </p>
            <img src="assets/img/playstore1.png" />
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        <span class="me-5">
          © {{'STATE_AGRI_DIRECTORATE_UP' | translate}} | {{'ALL_RIGHTS_RESERVED' | translate}}.
        </span>
        <!-- <span class="me-5">Last reviewed and updated on 12 Jul, 2023 </span>
        <span>Email Us: delhihighcourt@nic.in | Disclaimer | Sitemap</span> --
      </div>
    </div>
  </footer>
  <!-- End Footer -->
