<app-header></app-header>
<div class="carousel">
  <div class="carousel__slide">
    <div class="carousel__slide__inner">
      <div class="image-container">
        <img class="carousel__image" src="assets/img/banner2_430.jpg" alt="Image" />
      </div>
      <div class="carousel__slide__overlay">
        <div class="container position_set" [attr.data-aos]="'fade-up'">
          <div class="row justify-content-center" [attr.data-aos]="'fade-up'" [attr.data-aos-delay]="150">
            <div class="col-xl-12 col-lg-12">
              <h1>
                {{'DIGITAL' | translate}}
                <span class="secondary-color font-weight-bold">{{'AGRICULTURE' | translate}}</span>
                {{'REALTIME_SERVICE' | translate}},
              </h1>
              <h1>
                {{'HASSELFREE_ASSISTANCE' | translate}}
                <span class="secondary-color font-weight-bold">
                  {{'INITIATIVE' | translate}}
                </span>
              </h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="what_new">
    <div class="whatnew_inner">
      <h2>What’s New</h2>
      <div class="scroll-bar-wrap">
        <div class="scroll-box">
        <ul class="newsTicker">
          <li><a href="#">Borem ipsum dolor sit amet,</a></li>
          <li><a href="#">consectetur adipiscing elit. Nunc vulputate libero et velit</a></li>
          <li><a href="#">interdum, ac aliquet odio mattis. Class aptent taciti</a></li>
          <li><a href="#">sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</a></li>
          <li><a href="#">interdum, ac aliquet odio mattis. Class aptent taciti</a></li>
          <li><a href="#">Borem ipsum dolor sit amet,</a></li>
          <li><a href="#">consectetur adipiscing elit. Nunc vulputate libero et velit</a></li>
          <li><a href="#">interdum, ac aliquet odio mattis. Class aptent taciti</a></li>
          <li><a href="#">sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</a></li>
          <li><a href="#">interdum, ac aliquet odio mattis. Class aptent taciti</a></li>
        </ul>
        </div>
        <div class="cover-bar"></div>
      </div>
      <a href="#">view all</a>
    </div>
  </div>
</div>
<!-- End Hero -->

<!-- announcement start here -->
<div class="announcement_sec">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="annunc_notice">
          <div class="ticker_wrap">
            <div class="ticker_breaking"> <img src="assets/img/announcment.svg" alt="announcement"><span>Important
                Announcements:</span></div>
            <div class="ticker_viewport">
              <ul class="ticker_list" data-ticker="list">
                <li class="ticker_item" data-ticker="item">
                  <a href="#">Invitation for Empanelment of Manufactures of Agricultural Drones (Krishi Drone)</a>
                </li>
                <li class="ticker_item" data-ticker="item"><a href="#">Invitation for Empanelment of Manufactures of
                    Agricultural Drone</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- announcement end here -->

<main id="main">
  <!-- our leader start here -->
  <section class="leader_bg">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-8">
          <div class="leader">
            <h2>Know Your Leader</h2>
            <div class="our_leader">
              <div class="card">
                <div class="leader_box">
                  <img src="assets/img/yogi.png" alt="yogi">
                  <div class="leader_detail">
                    <a href="#">
                      <h4>{{ 'YOGI_ADITYANATH' | translate }}</h4>
                      <span>Hon’ble Chief Minister</span>
                    </a>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="leader_box">
                  <img src="assets/img/suriya.png" alt="yogi">
                  <div class="leader_detail">
                    <a href="#">
                      <h4>Shri Surya Pratap Shahi</h4>
                      <span>Hon'ble Agriculture Minister</span>
                    </a>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="leader_box">
                  <img src="assets/img/baldev.png" alt="yogi">
                  <div class="leader_detail">
                    <a href="#">
                      <h4>Shri Baldev Singh Aulakh</h4>
                      <span>Hon'ble State Minister Agriculture</span>
                    </a>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="leader_box">
                  <img src="assets/img/devesh.png" alt="yogi">
                  <div class="leader_detail">
                    <a href="#">
                      <h4>Dr. Devesh Chaturvedi</h4>
                      <span>Add. Chief Secretary, Agriculture</span>
                    </a>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="leader_box">
                  <img src="assets/img/vivek.png" alt="yogi">
                  <div class="leader_detail">
                    <a href="#">
                      <h4>Vivek Kumar Singh</h4>
                      <span>Director of Agriculture</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="circulars">
            <h2>circulars</h2>
            <ul>
              <li><a href="#">Borem ipsum dolor sit amet,</a></li>
              <li><a href="#">consectetur adipiscing elit. Nunc vulputate libero et velit</a></li>
              <li><a href="#">interdum, ac aliquet odio mattis. Class aptent taciti</a></li>
              <li><a href="#">sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</a></li>
              <li><a href="#">interdum, ac aliquet odio mattis. Class aptent taciti</a></li>
              <li><a href="#">Borem ipsum dolor sit amet,</a></li>
              <li><a href="#">consectetur adipiscing elit. Nunc vulputate libero et velit</a></li>
              <li><a href="#">interdum, ac aliquet odio mattis. Class aptent taciti</a></li>
              <li><a href="#">sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</a></li>
            </ul>
            <a href="#">view all</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- our leader end here -->
  <!-- dashboard start here -->
  <section class="dashboard_bg">
    <div class="gradint">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-8">

            <div class="dashboard_sec">
              <h2>Dashboard</h2>
            </div>
          </div>
        </div>
        <div class="row">

          <div class="col-lg-4">

            <div class="card_box">
              <h5>Direct Benifit Transfer (DBT)</h5>
              <ul>
                <li><a href="http://upagriculture.com:81/datareport_seed.aspx" target="_blank">Seed DBT Report</a></li>
                <li><a href="http://upagriculture.com:81/datareport_yantra.aspx" target="_blank">Krishi Yantra DBT</a>
                </li>
                <li><a href="http://upagriculture.com:81/datareport_upkaran.aspx" target="_blank">Krishi Upkaran DBT</a>
                </li>
                <li><a href="http://upagriculture.com:81/datareport_rasayan.aspx" target="_blank">Krishi Raksha Rasayan
                    DBT</a></li>
              </ul>
            </div>

          </div>
          <div class="col-lg-4">

            <div class="card_box">
              <h5>PM-KISAN</h5>
              <ul>
                <li><a href="http://upagriculture.com:81/pmkisan.html" target="_blank">PM-KISAN Reports</a></li>
              </ul>
            </div>

          </div>
          <div class="col-lg-4">


          </div>
          <div class="col-lg-4">

            <div class="card_box">
              <h5>Online License</h5>
              <ul>
                <li><a href="http://upagriculture.com:81/License/#/Dashboard/Seed" target="_blank">Seed Sale License</a>
                </li>
                <li><a href="http://upagriculture.com:81/License/#/Dashboard/Pesticides" target="_blank">Pesticide Sale
                    License</a></li>
                <li><a href="http://upagriculture.com:81/License/#/Dashboard/Fertilizer" target="_blank">Fertilizer Sale
                    License</a></li>
              </ul>
            </div>

          </div>

          <div class="col-lg-4">

            <div class="card_box">
              <h5>Uplabdhata</h5>
              <ul>
                <li><a href="http://upagriculture.com:81/License/#/FasalBimaUplabtaReport" target="_blank">Fasal Bima
                    Report</a></li>
                <li><a href="http://upagriculture.com:81/License/#/PPUplabtaReport" target="_blank">Krishi Raksha
                    Report</a></li>
                <li><a href="http://upagriculture.com:81/License/#/FertilizerUplabtaReport" target="_blank">Fertilizer
                    Report</a></li>
                <li><a href="http://upagriculture.com:81/License/#/SeedUplabtaReport" target="_blank">Seed Report</a>
                </li>
              </ul>
            </div>

          </div>
          <div class="col-lg-4">


          </div>
          <div class="col-lg-4">

            <div class="card_box">
              <h5>Solar Pump</h5>
              <ul>
                <li><a href="http://upagriculture.com:81/misreports_solar.aspx" target="_blank">Solar Pump Report</a>
                </li>
              </ul>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- dashboard end here -->
  <!-- announcement start here -->
  <section class="annc_bg">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-6">
          <div class="announcement">
            <div class="annc_heading">
              <h2>Annocements</h2>
              <a href="#">view all</a>
            </div>
            <ul>
              <li><a href="#">Compilation of Government Orders related to DBT</a> <sup>New</sup></li>
              <li><a href="#">Rabi Productivity Strategy (2022-23)</a></li>
              <li><a href="#">Permissible facilities to farmers</a></li>
              <li><a href="#">Compilation of Government Orders related to DBT</a></li>
              <li><a href="#">Rabi Productivity Strategy (2022-23)</a></li>
              <li><a href="#">Permissible facilities to farmers</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="advisory">
            <div class="advisory_heading">
              <h2>Advisory</h2>
              <a href="#">view all</a>
            </div>
            <ul>
              <li><a href="#">Compilation of Government Orders related to DBT</a></li>
              <li><a href="#">Rabi Productivity Strategy (2022-23)</a></li>
              <li><a href="#">Permissible facilities to farmers</a></li>
              <li><a href="#">Compilation of Government Orders related to DBT</a></li>
              <li><a href="#">Rabi Productivity Strategy (2022-23)</a></li>
              <li><a href="#">Permissible facilities to farmers</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- announcement end here -->
  <!-- gallery start here -->
  <section>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-6">
          <div class="gallry">
            <div class="gallery_sec">
              <h2>Gallery</h2>
              <a href="#">view all</a>
            </div>
            <div class="main">
              <div class="gallery_container">
                <div class="card">
                  <div class="card-image">
                    <a href="assets/img/gallery/img1.jpeg" data-fancybox="gallery">
                      <img src="assets/img/gallery/img1.jpeg" alt="Image Gallery">
                    </a>
                  </div>
                </div>
                <div class="card">
                  <div class="card-image">
                    <a href="assets/img/gallery/img2.jpeg" data-fancybox="gallery">
                      <img src="assets/img/gallery/img2.jpeg" alt="Image Gallery">
                    </a>
                  </div>
                </div>
                <div class="card">
                  <div class="card-image">
                    <a href="assets/img/gallery/img3.jpeg" data-fancybox="gallery">
                      <img src="assets/img/gallery/img3.jpeg" alt="Image Gallery">
                    </a>
                  </div>
                </div>
                <div class="card">
                  <div class="card-image">
                    <a href="assets/img/gallery/img4.jpeg" data-fancybox="gallery">
                      <img src="assets/img/gallery/img4.jpeg" alt="Image Gallery">
                    </a>
                  </div>
                </div>
                <div class="card">
                  <div class="card-image">
                    <a href="assets/img/gallery/img5.jpeg" data-fancybox="gallery">
                      <img src="assets/img/gallery/img5.jpeg" alt="Image Gallery">
                    </a>
                  </div>
                </div>
                <div class="card">
                  <div class="card-image">
                    <a href="assets/img/gallery/img6.jpeg" data-fancybox="gallery">
                      <img src="assets/img/gallery/img6.jpeg" alt="Image Gallery">
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="gallery_sec">
            <h2>Video</h2>
            <a href="#">view all</a>
          </div>
          <div class="video"><img src="assets/img/gallery/video_bg.jpg"></div>
        </div>
      </div>
    </div>
  </section>
  <!-- gallery end here -->
  <!-- ======= Services Section ======= -->
  <!-- <section id="services" class="services" style="padding-top: 20px">
    <div class="container">
      <div class="section-title text-center">
        <img src="assets/img/h1-line-img1.png" />
        <h1 class="font-weight-bold">{{'KNOW_YOUR_LEADER' | translate}}</h1>
      </div>


      <div class="row" [attr.data-aos]="'fade-up'">


        <div class="col-12">
        <div class="leader">
        <div class="col" [attr.data-aos]="'zoom-in'" [attr.data-aos-delay]="'100'">
          <div class="services-style-two-item">
            <div class="thumb">
              <img src="assets/img/cm.png" />
            </div>
            <h5 class="title">
              <a href="#">
                {{'YOGI_ADITYANATH' | translate}}
              </a>
              <span class="secondary-color fs-7">{{'CHIEF_MINISTER' | translate}}</span>
            </h5>
          </div>
        </div>
        <div class="col" [attr.data-aos]="'zoom-in'" [attr.data-aos-delay]="'100'">
          <div class="services-style-two-item">
            <div class="thumb">
              <img src="assets/img/Surya.jpg" />
            </div>
            <h5 class="title">
              <a href="#">
               {{'SHRI_SURYA_PRATAP_SHAHI' | translate}}
              </a>
              <span class="secondary-color fs-7">{{'AGRICULTURAL_MINISTER' | translate}}
              </span>
            </h5>
          </div>
        </div>
        <div class="col" [attr.data-aos]="'zoom-in'" [attr.data-aos-delay]="'100'">
          <div class="services-style-two-item">
            <div class="thumb">
              <img src="assets/img/Baldev.jpg" />
            </div>
            <h5 class="title">
              <a href="#">
                {{'SHRI_BALDEV_SINGH_AULAKH' | translate}}
              </a>
              <span class="secondary-color fs-7">
                {{'STATE_MINISTER_AGRICULTURE' | translate}}
              </span>
            </h5>
          </div>
        </div>
        <div class="col" [attr.data-aos]="'zoom-in'" [attr.data-aos-delay]="'100'">
          <div class="services-style-two-item">
            <div class="thumb">
              <img src="assets/img/Devesh.jpg" />
            </div>
            <h5 class="title">
              <a href="#">
                {{'DR_DEVESH_CHATURVEDI' | translate}}
              </a>
              <span class="secondary-color fs-7">
               {{'ADD_CHIEF_SEC_AGRI' | translate}}
              </span>
            </h5>
          </div>
        </div>
        <div class="col" [attr.data-aos]="'zoom-in'" [attr.data-aos-delay]="'100'">
          <div class="services-style-two-item">
            <div class="thumb">
              <img src="assets/img/Vivek .jpg" />
            </div>
            <h5 class="title">
              <a href="#">
                {{'VIVEK_KUMAR_SINGH' | translate}}
              </a>
              <span class="secondary-color fs-7">{{'DIR_AGRI' | translate}}
              </span>
            </h5>
          </div>
        </div>
      </div>
      </div>
      </div>
    </div>
  </section> -->
  <!-- End Services Section -->

  <!-- ======= About Section ======= -->
  <!-- <section id="about" class="about">
    <div class="container" [attr.data-aos]="'fade-up'">
      <div class="row">
        <div class="col-lg-12" [attr.data-aos]="'fade-left'" [attr.data-aos-delay]="100">
          <div class="section-title text-center">
            <img src="assets/img/h1-line-img-white.png" />
            <p class="text-light">{{'HISTORY_TITLE' | translate}}</p>
          </div>

          <div class="row">
            <div class="col-lg-12 mb-3">
              <img src="assets/img/int-about.jpg" class="rounded-2 border img-fluid" />
            </div>
            <div class="col-lg-12 fs-6">
              <p>
                {{'HISTORY_PARA_1' | translate}}
              </p>
              <p>
                {{'HISTORY_PARA_2' | translate}}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> -->
  <!-- End About Section -->

  <!-- ======= Announcement Section ======= -->
  <!-- <section id="team" class="team">
    <div class="container" [attr.data-aos]="'fade-up'">
      <div class="row">
        <div class="col-lg-7">
          <div class="announcement-box shadow p-3 mb-5 bg-white rounded">
            <h2 class="brown">{{'ANNOUNCEMENT_2' | translate}}</h2>
            <div class="row">
              <div class="col-lg-8">
                <p class="pb-0">
                  {{'ANNOUNCEMENT_PARA' | translate}}
                  <br />
                  <span class="text-muted">{{'DATE' | translate}} : {{'NUMBERED_DATE' | translate}}</span>
                </p>

                <p class="pb-0 mb-0"><a href="#">{{'READ_MORE' | translate}} →</a></p>
                <div>
                  <span data-dir="prev">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M11.925 4.5748L6.39999 11.9998L11.925 19.4248L9.02499 19.4248L3.47499 11.9998L9.02499 4.5748L11.925 4.5748ZM19.3 4.57481L13.775 11.9998L19.3 19.4248L16.375 19.4248L10.85 11.9998L16.375 4.57481L19.3 4.57481Z"
                        fill="#0F172A"></path>
                    </svg>
                  </span>
                  <span data-dir="next"><svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                      xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M12.075 19.4252L17.6 12.0002L12.075 4.5752H14.975L20.525 12.0002L14.975 19.4252H12.075ZM4.70001 19.4252L10.225 12.0002L4.70001 4.5752H7.62501L13.15 12.0002L7.62501 19.4252H4.70001Z"
                        fill="#0F172A"></path>
                    </svg></span>
                </div>
              </div>
              <div class="col-lg-4">
                <img src="../../../assets/img/announcement-img.jpg" alt="Image" title="Image" class="img-fluid" />
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-5">
          <div class="row">
            <div class="col-lg-6">
              <div class="dashboard shadow p-3 mb-4 bg-white rounded text-center">
                <p>{{'FARMER_REGISTRATION' | translate}}</p>
                <h3 class="font-weight-bold fs-2 text-green">450</h3>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="dashboard shadow p-3 mb-4 bg-white rounded text-center">
                <p>{{'TOTAL_GRIEVANCE_RAISED' | translate}}</p>
                <h3 class="font-weight-bold fs-2 text-green">1450</h3>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="dashboard shadow p-3 mb-4 bg-white rounded text-center">
                <p>{{'RESOLVED_GRIEVANCE_NO' | translate}}</p>
                <h3 class="font-weight-bold fs-2 text-green">1050</h3>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="dashboard shadow p-3 mb-4 bg-white rounded text-center">
                <p>{{'VISITORS_COUNT' | translate}}</p>
                <h3 class="font-weight-bold fs-2 text-green">45450</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> -->
  <!-- End Judges Section -->

  <!-- ======= Services Section ======= -->
  <!-- <section id="gallery" class="services" style="padding-top: 20px">
    <div class="container">
      <div class="section-title text-center">
        <img src="assets/img/h1-line-img1.png" />
        <h1 class="font-weight-bold">{{'AWESOME_GALLERY' | translate}}</h1>
      </div>

            <div class="row d-flex justify-content-center" [attr.data-aos]="'fade-up'">
                <div class="col-lg-6 mb-4" [attr.data-aos]="'zoom-in'" [attr.data-aos-delay]="'100'">
                    <div class="img-fluid img-zoom">
                        <img src="assets/img/1g.jpg" class="img-fluid" />
                    </div>
                </div>
                <div class="col-lg-6 mb-4" [attr.data-aos]="'zoom-in'" [attr.data-aos-delay]="'100'">
                    <div class="img-fluid img-zoom">
                        <img src="assets/img/2g.jpg" class="img-fluid" />
                    </div>
                </div>
                <div class="col-lg-6 mb-4" [attr.data-aos]="'zoom-in'" [attr.data-aos-delay]="'100'">
                    <div class="img-fluid img-zoom">
                        <img src="assets/img/3g.jpg" class="img-fluid" />
                    </div>
                </div>
                <div class="col-lg-6 mb-4" [attr.data-aos]="'zoom-in'" [attr.data-aos-delay]="'100'">
                    <div class="img-fluid img-zoom">
                        <img src="assets/img/4g.jpg" class="img-fluid" />
                    </div>
                </div>



            </div>
        </div>
    </section> -->
    <!-- End Services Section -->
    <!-- ======= Clients Section ======= -->
    <section id="clients" class="clients">
        <div class="container" [attr.data-aos]="'zoom-in'">
          <div class="clients-slider swiper">
            <swiper #swiperVirtualRef [slidesPerView]="5" [spaceBetween]="20"
                 [virtual]="true"
                slideActiveClass="swiper-active whyWouldIuseCustomClass"  [navigation]="true">
                <ng-template swiperSlide *ngFor="let slide of slidesImg; index as i">
                    <!-- Slide {{ slide }} -->
                    <img src="assets/img/client/{{ slide }}" alt="Slide" class="slide-img">
                </ng-template>

            </swiper>
        </div>
            <!-- <div class="clients-slider swiper">
                <div class="swiper-wrapper align-items-center">
                    <div class="swiper-slide">
                        <a href="https://stpi.in/" target="_blank"><img src="assets/img/clients/client-1.png"
                                class="img-fluid" alt="" /></a>
                    </div>
                    <div class="swiper-slide">
                        <a href="https://mgov.gov.in/" target="_blank"><img src="assets/img/clients/client-2.png"
                                class="img-fluid" alt="" /></a>
                    </div>
                    <div class="swiper-slide">
                        <a href="https://data.gov.in/" target="_blank"><img src="assets/img/clients/client-3.png"
                                class="img-fluid" alt="" /></a>
                    </div>
                    <div class="swiper-slide">
                        <a href="https://www.india.gov.in/" target="_blank"><img src="assets/img/clients/client-4.png"
                                class="img-fluid" alt="" /></a>
                    </div>
                    <div class="swiper-slide">
                        <a href="https://stage.ras.gov.in/v2" target="_blank"><img src="assets/img/clients/client-5.png"
                                class="img-fluid" alt="" /></a>
                    </div>
                    <div class="swiper-slide">
                        <a href="https://www.mygov.in/" target="_blank"><img src="assets/img/clients/client-6.png"
                                class="img-fluid" alt="" /></a>
                    </div>
                    <div class="swiper-slide">
                        <a href="https://digitalseva.csc.gov.in/" target="_blank"><img
                                src="assets/img/clients/client-7.png" class="img-fluid" alt="" /></a>
                    </div>
                    <div class="swiper-slide">
                        <a href="https://www.nielit.gov.in/" target="_blank"><img src="assets/img/clients/client-8.png"
                                class="img-fluid" alt="" /></a>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div> -->
        </div>
    </section>
    <!-- End Clients Section -->
</main>
<!-- End #main -->

<app-footer></app-footer>
