<app-header></app-header>
<div class="carousel">
  <div class="banner_bg"><img src="assets/img/banner_bg.jpeg"></div>
  <div class="carousel__slide">
    <carousel [interval]="3000" class="carousel">
      <slide *ngFor="let slide of bannerImages" [active]="slide.active">
        <img [src]="slide.image" alt="Carousel Image">
        <div class="carousel-caption">
          <h1>
            {{slide.title | translate}}
             </h1>
          <h2>
            {{slide.description}}

          </h2>
          <a href="#" class="btn_draw">{{slide.links}}</a>
        </div>
      </slide>
    </carousel>
    <!-- <div class="carousel__slide__inner">
      <div class="image-container">
        <img class="carousel__image" src="assets/img/banner1.jpg" alt="Image" />
      </div>
      <div class="carousel__slide__overlay">
        <div class="container position_set" [attr.data-aos]="'fade-up'">
          <div class="row" [attr.data-aos]="'fade-up'" [attr.data-aos-delay]="150">
            <div class="col-xl-12 col-lg-12">
              <h1>
                {{'IMPORTANT_NOTICE' | translate}}
                 </h1>
              <h2>
                {{'FOR_FARMER_BROTHERS' | translate}}

              </h2>
              <a href="#" class="btn_draw">Draw tokens for Subsidy on Machinery/ Farm Ponds</a>
            </div>
          </div>
        </div>
      </div>
    </div> -->
  </div>

  <div class="what_new">
    <div class="whatnew_inner">
      <h2 class="subheading">{{'WHATS_NEW' | translate}}</h2>
      <div class="scroll-bar-wrap">
        <div class="scroll-box">
        <ul class="newsTicker">
          <li><a href="http://agriculture.up.gov.in/pdf_files/dbtgo.pdf"
            target="_blank">{{'COMPLICATION_GOVERNMENT' | translate}}</a></li>
          <li><a href="http://agriculture.up.gov.in/pdf_files/Rabi_abhiyan_2022-23.pdf"
            target="_blank">{{'RABI_STRATERGY' | translate}}</a></li>
          <li><a href="http://agriculture.up.gov.in/pdf_files/Anumanya%20Suvidhayen-2022-23%20final%20most.pdf"
            target="_blank">{{'PERMISSIBLE_TO_FARMERS' | translate}}</a></li>
          <li><a href="#">{{'BENEFICERY_DDO_LOGIN' | translate}}</a></li>
          <li><a href="#">{{'FOUR_DISTRICT_SHAMLI' | translate}}</a></li>
          <li><a href="#">{{'SOLVING_PROBLEMS' | translate}}</a></li>
        </ul>
        </div>
        <div class="cover-bar"></div>
      </div>
      <a href="#">{{'VIEW_ALL'|translate}}</a>
    </div>
  </div>
</div>
<!-- End Hero -->



<main id="main">
  <!-- announcement start here -->
<div class="announcement_sec">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="annunc_notice">
          <div class="ticker_wrap">
            <div class="ticker_breaking"> <img src="assets/img/announcment.svg" alt="announcement"><span>{{'IMP_ANNOUNCEMENTS'| translate}}:</span></div>
            <div class="ticker_viewport">
              <marquee behavior="scroll" gap="0" truespeed="" direction="left" scrollamount="2" scrolldelay="50" onmouseover="this.stop();" onmouseout="this.start();">
              <ul class="ticker_list" data-ticker="list">
                <li class="ticker_item" data-ticker="item">
                  <a href="http://agriculture.up.gov.in/Ltno-computer-392.pdf" target="_blank">{{'ANNOUNCEMENT_1'|translate}}</a>
                </li>
                <li class="ticker_item" data-ticker="item"><a href="#">{{'ANNOUNCEMENT_1'|translate}}</a></li>
              </ul>
            </marquee>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- announcement end here -->
  <!-- our leader start here -->
  <section class="leader_bg">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-8">
          <div class="leader">
            <h2 class="subheading">{{'KNOW_YOUR_LEADER'|translate}}</h2>
            <div class="our_leader">
              <div class="card">
                <div class="leader_box">
                  <img src="assets/img/yogi.png" alt="yogi">
                  <div class="leader_detail">
                    <a href="#">
                      <h4>{{'YOGI_ADITYANATH'|translate}}</h4>
                      <span>{{'CHIEF_MINISTER'|translate}}</span>
                    </a>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="leader_box">
                  <img src="assets/img/suriya.png" alt="yogi">
                  <div class="leader_detail">
                    <a href="#">
                      <h4>{{'SHRI_SURYA_PRATAP_SHAHI'|translate}}</h4>
                      <span>{{'AGRICULTURAL_MINISTER'|translate}}</span>
                    </a>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="leader_box">
                  <img src="assets/img/baldev.png" alt="yogi">
                  <div class="leader_detail">
                    <a href="#">
                      <h4>{{'SHRI_BALDEV_SINGH_AULAKH'|translate}}</h4>
                      <span>{{'STATE_MINISTER_AGRICULTURE'|translate}}</span>
                    </a>
                  </div>
                </div>
              </div>
              <div class="card ml-mr">
                <div class="leader_box">
                  <img src="assets/img/devesh.png" alt="yogi">
                  <div class="leader_detail">
                    <a href="#">
                      <h4>{{'DR_DEVESH_CHATURVEDI'|translate}}</h4>
                      <span>{{'ADD_CHIEF_SEC_AGRI'|translate}}</span>
                    </a>
                  </div>
                </div>
              </div>
              <div class="card ml">
                <div class="leader_box">
                  <img src="assets/img/vivek.png" alt="yogi">
                  <div class="leader_detail">
                    <a href="#">
                      <h4>{{'VIVEK_KUMAR_SINGH'|translate}}</h4>
                      <span>{{'DIR_AGRI'|translate}}</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="circulars">
            <h2 class="subheading">{{'CIRCULAR'|translate}}</h2>
            <div class="scroll-bar-wrap">
              <div class="scroll-box" style="height: 470px;">
            <ul>
              <li><a href="http://agriculture.up.gov.in/dbt/insitu.aspx"
                target="_blank">{{'PROGRESS_REPORT'|translate}}</a></li>
              <li><a href="#">{{'BILL_MONITORING_SYSYEM'|translate}}</a></li>
              <li><a href="http://agriculture.up.gov.in/dbt/yantrareport.aspx"
                target="_blank">{{'PROGRESS_DBT'|translate}}</a></li>
              <li><a href="http://agriculture.up.gov.in/dbt/solaruploadnewrep.aspx"
                target="_blank">{{'SOLAR_PUMP'|translate}}</a></li>
              <li><a href="http://agriculture.up.gov.in/dbt/instrumentphysicalreport.aspx"
                target="_blank">{{'PROGRESS_REPORT_INSTRUMENTS'|translate}}</a></li>
              <li><a href="http://agriculture.up.gov.in/dbt/MillionFarmerReport.aspx"
                target="_blank">{{'MILLIPN_FARMER_SCHOOL'|translate}}</a></li>
              <li><a href="#">{{'SOIL_HEALTH_CARD_MS'|translate}}</a></li>
              <li><a href="http://agriculture.up.gov.in/dbt/inC2yojnayantradoc.pdf"
                target="_blank">{{'PROM_AGRI_MECH'|translate}}</a></li>
              <li><a href="http://agriculture.up.gov.in/dbt/misdatareports.aspx"
                target="_blank">{{'BENIFICERYWISE_REPORT'|translate}}</a></li>
              <li><a href="http://agriculture.up.gov.in/dbt/villagedatareports.aspx"
                target="_blank">{{'DETAILED_LIST'|translate}}</a></li>
              <li><a href="http://agriculture.up.gov.in/farm_mach_regis_rep.aspx"
                target="_blank">{{'LIST_OF_GROUP_REGISTRATION'|translate}}</a></li>
              <li><a href="http://agriculture.up.gov.in/item_total_hotri.aspx"
                target="_blank">{{'REG_FOR_SCHEMES'|translate}}</a></li>
              <li><a href="http://agriculture.up.gov.in/dbt/dd/shm_applicationform.aspx"
                target="_blank">{{'APPLICATION_FOR_SOIL_TESTING'|translate}}</a></li>
              <li><a href="http://agriculture.up.gov.in/dbt/Labharti_Shuchi.aspx"
                target="_blank">{{'DBT_LIST'|translate}}</a></li>
            </ul>
          </div>
          <div class="cover-bar"></div>
        </div>
            <a href="#">{{'VIEW_ALL'|translate}}</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- our leader end here -->
  <!-- dashboard start here -->
  <section class="dashboard_bg">
    <div class="gradint">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-8">

            <div class="dashboard_sec">
              <h2 class="subheading"><a class="dashboard_sec_color" href="http://agriculture.up.gov.in/dbt/misreports.aspx" target="_blank">{{'DASHBOARD'|translate}}</a></h2>
            </div>
          </div>
        </div>
        <div class="row">

          <div class="col-lg-4">

            <div class="card_box">
              <h5>{{'DBT' | translate}}</h5>
              <ul>
                <li><a href="http://upagriculture.com:81/datareport_seed.aspx" target="_blank">{{'SEED_DBT'|translate}}</a></li>
                <li><a href="http://upagriculture.com:81/datareport_yantra.aspx" target="_blank">{{'KRISHI_DBT'|translate}}</a>
                </li>
                <li><a href="http://upagriculture.com:81/datareport_upkaran.aspx" target="_blank">Krishi Upkaran DBT</a>
                </li>
                <li><a href="http://upagriculture.com:81/datareport_rasayan.aspx" target="_blank">Krishi Raksha Rasayan
                    DBT</a></li>
              </ul>
            </div>

          </div>
          <div class="col-lg-4">

            <div class="card_box">
              <h5>{{'PMKISAN' | translate}}</h5>
              <ul>
                <li><a href="http://upagriculture.com:81/pmkisan.html" target="_blank">PM-KISAN Reports</a></li>
              </ul>
            </div>

          </div>
          <div class="col-lg-4">


          </div>
          <div class="col-lg-4">

            <div class="card_box">
              <h5>{{'ONLINE_LISENSE' | translate}}</h5>
              <ul>
                <li><a href="http://upagriculture.com:81/License/#/Dashboard/Seed" target="_blank">Seed Sale License</a>
                </li>
                <li><a href="http://upagriculture.com:81/License/#/Dashboard/Pesticides" target="_blank">Pesticide Sale
                    License</a></li>
                <li><a href="http://upagriculture.com:81/License/#/Dashboard/Fertilizer" target="_blank">Fertilizer Sale
                    License</a></li>
              </ul>
            </div>

          </div>

          <div class="col-lg-4">

            <div class="card_box">
              <h5>{{'UPLABDHATA'| translate}}</h5>
              <ul>
                <li><a href="http://upagriculture.com:81/License/#/FasalBimaUplabtaReport" target="_blank">Fasal Bima
                    Report</a></li>
                <li><a href="http://upagriculture.com:81/License/#/PPUplabtaReport" target="_blank">Krishi Raksha
                    Report</a></li>
                <li><a href="http://upagriculture.com:81/License/#/FertilizerUplabtaReport" target="_blank">Fertilizer
                    Report</a></li>
                <li><a href="http://upagriculture.com:81/License/#/SeedUplabtaReport" target="_blank">Seed Report</a>
                </li>
              </ul>
            </div>

          </div>
          <div class="col-lg-4">


          </div>
          <div class="col-lg-4">

            <div class="card_box">
              <h5>{{'SOLAR_PUMP'|translate}}</h5>
              <ul>
                <li><a href="http://upagriculture.com:81/misreports_solar.aspx" target="_blank">Solar Pump Report</a>
                </li>
              </ul>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- dashboard end here -->
  <!-- announcement start here -->
  <section class="annc_bg">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-6">
          <div class="announcement">
            <div class="annc_heading">
              <h2 class="subheading">{{'ANNOUNCEMENT'|translate}}</h2>
              <a href="#">{{'VIEW_ALL'|translate}}</a>
            </div>
            <div class="scroll-bar-wrap">
              <div class="scroll-box" style="height: 230px;">
            <ul>
              <li><a href="http://agriculture.up.gov.in/Ltno-computer-392.pdf"
                target="_blank">{{'INVITATION_EMPANELMENT'|translate}}</a> <sup>New</sup></li>
              <li><a href="http://agriculture.up.gov.in/dbt/Labharti_Shuchi.aspx"
                target="_blank">{{'LIST_BENEFICERIES'|translate}}</a></li>
              <li><a href="http://agriculture.up.gov.in/Labh_vitran.html"
                target="_blank">{{'WHERE_WHO'|translate}}</a></li>
              <li><a href="http://agriculture.up.gov.in/dbt/other.html"
                target="_blank">{{'KWM'|translate}}</a></li>
              <li><a href="http://agriculture.up.gov.in/dbt/dbttraking.aspx"
                target="_blank">{{'CHECK_PROCESS_REMITTANCE'|translate}}</a></li>
              <li><a href="http://agriculture.up.gov.in/Mahatpurn_Suchna.html"
                target="_blank">{{'DISTURBUTION_BENIFITS'|translate}}</a></li>
              <li><a href="http://agriculture.up.gov.in/dbt/searchifsc.aspx"
                target="_blank">{{'IFSC_CODE'|translate}}</a></li>
              <li><a href="http://agriculture.up.gov.in/dbt/REPORTS/MiniKitReport.aspx"
                target="_blank">{{'MINI_KIT'|translate}}</a></li>
              <li><a href="http://agriculture.up.gov.in/dbt/REPORTS/beejgramreport.aspx"
                target="_blank">{{'BEEJGRAM_YOJANA'|translate}}</a></li>
              <li><a href="http://agriculture.up.gov.in/dbt/REPORTS/Public_FarmerDetailsReport.aspx"
                target="_blank">{{'BENIFICERY_NATURAL_FARMING'|translate}}</a></li>
              <li><a href="http://agriculture.up.gov.in/dbt/REPORTS/PublicNaturalFarmingSummary.aspx"
                target="_blank">{{'REVIEW_NATURAL_FARMING'|translate}}</a></li>
              <li><a href="http://agriculture.up.gov.in/dbt/REPORTS/Public_TrainingReport.aspx"
                target="_blank">{{'TRAINING_REPORT'|translate}}</a></li>
              <li><a href="http://agriculture.up.gov.in/dbt/REPORTS/Public_FFS_Report.aspx"
                target="_blank">{{'FARMERS_FIELD_SCHOOL'|translate}}</a></li>


            </ul>
          </div>
          <div class="cover-bar"></div>
        </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="advisory">
            <div class="advisory_heading">
              <h2 class="subheading">{{'ADVISORY' | translate}}</h2>
              <a href="#">{{'VIEW_ALL'|translate}}</a>
            </div>
            <ul>
              <li><a href="#">{{'UPLOAD_DD'|translate}}</a></li>
              <li><a href="http://upagriculture.com:88/vendor/login.aspx"
                target="_blank">{{'CRM_EMPANELMENT'|translate}}</a></li>
              <li><a href="http://agrilicense.upagriculture.com/"
                target="_blank">{{'ONLINE_LISENSE'|translate}}</a></li>
              <li><a href="http://agriculture.up.gov.in/dbt/License/#/Verify"
                target="_blank">{{'LISENSE_VERIFICATION'|translate}}</a></li>
              <li><a href="http://agriculture.up.gov.in/dbt/seedavailabilityreport.aspx"
                target="_blank">{{'AVAILABILITY_OF_SEEDS_CHEMICALS'|translate}}</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- announcement end here -->
  <!-- gallery start here -->
  <section>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-6">
          <div class="gallry">
            <div class="gallery_sec">
              <h2 class="subheading p-0">{{'GALLERY' | translate}}</h2>
              <a href="#">{{'VIEW_ALL'|translate}}</a>
            </div>
            <div class="main">
              <div class="gallery_container">
                <div class="card">
                  <div class="card-image">
                    <a href="assets/img/gallery/img1.jpeg" data-fancybox="gallery">
                      <img src="assets/img/gallery/img1.jpeg" alt="Image Gallery">
                    </a>
                  </div>
                </div>
                <div class="card">
                  <div class="card-image">
                    <a href="assets/img/gallery/img2.jpeg" data-fancybox="gallery">
                      <img src="assets/img/gallery/img2.jpeg" alt="Image Gallery">
                    </a>
                  </div>
                </div>
                <div class="card">
                  <div class="card-image">
                    <a href="assets/img/gallery/img3.jpeg" data-fancybox="gallery">
                      <img src="assets/img/gallery/img3.jpeg" alt="Image Gallery">
                    </a>
                  </div>
                </div>
                <div class="card">
                  <div class="card-image">
                    <a href="assets/img/gallery/img4.jpeg" data-fancybox="gallery">
                      <img src="assets/img/gallery/img4.jpeg" alt="Image Gallery">
                    </a>
                  </div>
                </div>
                <div class="card">
                  <div class="card-image">
                    <a href="assets/img/gallery/img5.jpeg" data-fancybox="gallery">
                      <img src="assets/img/gallery/img5.jpeg" alt="Image Gallery">
                    </a>
                  </div>
                </div>
                <div class="card">
                  <div class="card-image">
                    <a href="assets/img/gallery/img6.jpeg" data-fancybox="gallery">
                      <img src="assets/img/gallery/img6.jpeg" alt="Image Gallery">
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="gallery_sec">
            <h2 class="subheading p-0">{{'VIDEO_GALLERY' | translate}}</h2>
            <a href="#">{{'VIEW_ALL'|translate}}</a>
          </div>
          <div class="video"><video controls #videoPlayer style="width: 100%; height: 300px;">
            <source src="assets/video/nf.mp4" type="video/mp4" />
            Browser not supported
        </video></div>
        </div>
      </div>
    </div>
  </section>
  
    <!-- End Services Section -->
    <!-- ======= Clients Section ======= -->
    <section id="clients" class="clients">
        <div class="container" [attr.data-aos]="'zoom-in'">
          <div class="clients-slider swiper">
            <swiper #swiperVirtualRef [slidesPerView]="5" [spaceBetween]="20"
                 [virtual]="true"
                slideActiveClass="swiper-active whyWouldIuseCustomClass"  [navigation]="true">
                <ng-template swiperSlide *ngFor="let slide of slidesImg; index as i">
                    <!-- Slide {{ slide }} -->
                    <a href="{{slide.link}}" target="_blank">
                      <img src="assets/img/client/{{ slide.image }}" alt="Slide" class="slide-img">
                     </a>
                </ng-template>

            </swiper>
        </div>
          
        </div>
    </section>
    <!-- End Clients Section -->
</main>
<!-- End #main -->

<app-footer></app-footer>
